$text-color: hsl(42°, 100%, 92%);
$primary-color: #333;
$icons-color: hsl(44°, 90%, 61%);
$btn-color: hsl(241°, 47%, 16%);
//**********************ASIDE********************//
$aside-color: hsl(241°, 47%, 16%); ///#16163C
