@import "./color.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // #2e577f
  background-color: #00618b;
  font-family: sans-serif;
  font-weight: 500;
}
li {
  text-decoration: none;
  list-style: none;
}
.h1 {
  color: $text-color;
}
// i:hover {
//   color: yellow;
//   width: 30px;
//   border-radius: 5px;
//   background-color: $aside-color;
//   transform: rotate(360deg);
// }
