@import "./style/global.scss";
@import "./style/color.scss";
@import "./style/button.scss";
.App {
  margin: 2rem;

  .aside {
    // width: 210px;
    // position: fixed;
    // z-index: 1;
    // background: $aside-color;
    // overflow-x: hidden;
    // padding: 8px 0;
    // height: 100%;
    // color: $text-color;

    .menu-bars {
      font-size: 2rem;
      background: none;
    }
    .nav-menu {
      background-color: #060b26;
      width: 250px;
      height: 100vh;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: -100%;
      transition: 850ms;
    }

    .nav-menu.active {
      left: 0;
      transition: 350ms;
    }

    .navbar-toggle {
      color: $text-color;
      margin-top: 2rem;
    }
    &__name {
      margin-top: 2rem;
      font-size: 13px;
      text-align: center;
      .aside__p {
        margin-top: 1rem;
      }
      .aside__name__line {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &__list {
      .aside__ul {
        margin: 1rem;
        .aside__li {
          transition: transform 0.4s;
          color: $text-color;
          margin: 1rem;
          a {
            text-decoration: none;
          }
          i {
            margin: 10px;
            // color: $text-color;
            color: $icons-color;
          }
        }
      }
    }
    &__social {
      margin: 1.4rem;
      .aside__ul {
        display: flex;
        justify-content: space-evenly;
        li {
          cursor: pointer;
          color: $icons-color;
          a {
            i {
              color: $icons-color;
            }
          }
        }
      }
    }
  }
  .landing {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    .landing__wrapper {
      position: fixed;
      left: 40%;
      color: $aside-color;
      .landing__image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-top: 5rem;
      }
      h1,
      p {
        color: $text-color;
      }
      i {
        color: $icons-color;
      }
      .landing__social {
        .aside__ul {
          display: flex;
          justify-content: flex-start;
          li {
            margin: 10px;
            cursor: pointer;
            color: $btn-color;
          }
        }
      }
    }
  }
  .about {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;

    color: $text-color;
    &__wrapper {
      margin-top: 2rem;

      .about__h1 {
        font-family: "Courier New", Courier, monospace;
      }
      .about__p {
        margin-top: 2rem;
        font-size: 20px;
      }
      .about__qoute__wrapper {
        margin-top: 3rem;
        border: 2px dashed $icons-color;
        .about__qoute__p {
          font-family: "Courier New", Courier, monospace;
          font-size: 18px;
          padding: 10px;
        }
      }
    }
  }
  .projects {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    img {
      border-radius: 10px;
      width: 300px;
      margin: auto;
      height: 250px;
    }
    p {
      font-size: 16px;
    }
    .project__wrapper {
      .project {
        margin-top: 1rem;
        background-color: #2e577f;
        display: flex;

        border-radius: 10px;
        .project__text {
          display: flex;
          margin-left: 1.5rem;
          flex-direction: column;

          h4 {
            color: $text-color;
            margin-top: 10px;
            margin-left: 10px;
          }
          p {
            margin-left: 10px;
            color: $text-color;
            margin-top: 10px;
          }

          .project__list {
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;
            li {
              color: $text-color;
              margin: 2px;
              font-size: 15px;
            }
          }
          i {
            color: $icons-color;
            margin-top: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .contacts {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    h1 {
      color: $primary-color;
    }
    .contact {
      margin-top: 2rem;
      i {
        text-align: center;
        width: 45px;
        padding-top: 2px;
        height: 35px;
        align-items: center;
        border-radius: 10px;
        background-color: $primary-color;
        color: $icons-color;
      }

      i:hover {
        background-color: $text-color;
        color: $primary-color;
      }
      .contact__a {
        color: $icons-color;
        text-decoration: none;
        margin-left: 2rem;
      }
      .contact__a:hover {
        color: $text-color;
      }
    }
  }
  .skills {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    .skill__frontend__wrapper {
      border-radius: 10px;
      background-color: #2e577f;
      h3 {
        color: $icons-color;
      }

      .skill__frontend {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        img {
          border-radius: 10px;
          width: 150px;
        }
      }
    }
    .skill__backend__wrapper {
      background-color: #2e577f;
      h3 {
        color: $icons-color;
      }
      .skill__backend {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        img {
          border-radius: 10px;
          width: 150px;
        }
      }
    }
  }
  .error {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    color: $text-color;
  }
}
